html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, :after, :before {
  box-sizing: border-box; }

.header-button {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #222b36;
  transition: border-bottom 0.4s; }
  .header-button__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px; }
  .header-button:hover {
    border-bottom: 2px solid #059bff; }

.logo {
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo__image {
    display: block;
    width: 140px;
    margin: 20px; }

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  height: 65px;
  position: fixed;
  background-color: #222b36; }
  .header__content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    background-color: #222b36; }
    @media screen and (max-width: 690px) {
      .header__content {
        height: 130px;
        flex-direction: column; } }
    .header__content__navigation {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; }
  .header .link-text {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #f2f4f9;
    font-size: 16px;
    text-decoration: none;
    margin: 0 16px;
    white-space: pre; }

.main__heading {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 70px 0 70px 0;
  z-index: 1; }
  .main__heading .heading-text {
    color: #444444;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
    white-space: pre-line; }
    @media screen and (max-width: 1200px) {
      .main__heading .heading-text {
        font-size: 2rem; } }

.card-name {
  width: 100%;
  height: 62px;
  background-color: #222b36;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #f2f4f9; }
  .card-name--blue {
    background-color: #5c8cd7; }
  .card-name--pink {
    background-color: #c5a0ef; }
  .card-name--purple {
    background-color: #a58dd8; }

.card-line {
  display: block;
  width: 300px;
  border: 1px solid #222b36;
  border-radius: 2px;
  margin: 40px 0; }
  .card-line--blue {
    border: 1px solid #5c8cd7; }
  .card-line--pink {
    border: 1px solid #c5a0ef; }
  .card-line--purple {
    border: 1px solid #a58dd8; }

.card-props {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 80%; }
  .card-props__list {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #444444; }
    .card-props__list__item {
      list-style-image: image(ltr);
      padding-left: 0;
      margin: 10px 0;
      padding-left: 20px;
      list-style: none;
      background-image: url("../images/check_mark.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 10px; }

.card-price {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: #444444;
  margin: 35px 0; }

.card-action-button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #f2f4f9;
  width: 160px;
  height: 40px;
  background-color: #222b36;
  border: 0;
  border-radius: 3px; }
  .card-action-button--blue {
    background-color: #5c8cd7; }
  .card-action-button--pink {
    background-color: #c5a0ef; }
  .card-action-button--purple {
    background-color: #a58dd8; }

.card-sub-period {
  display: flex;
  margin: 20px 0; }
  .card-sub-period__button {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #444444;
    display: inline;
    padding: 8px;
    border-radius: 10px; }
    .card-sub-period__button--active {
      background-color: #5c8cd7;
      border: 2px solid #5c8cd7; }
    .card-sub-period__button--unactive {
      background-color: white;
      border: 0; }

.main__cards {
  display: flex;
  justify-content: center;
  width: 100%; }
  @media screen and (max-width: 1200px) {
    .main__cards {
      flex-direction: column; } }
  @media screen and (max-width: 800px) {
    .main__cards {
      flex-direction: column;
      align-items: center; } }
  .main__cards .wrapper-for-scalling {
    display: flex; }
    @media screen and (max-width: 1200px) {
      .main__cards .wrapper-for-scalling {
        justify-content: center; } }
    @media screen and (max-width: 800px) {
      .main__cards .wrapper-for-scalling {
        flex-direction: column; } }
  .main__cards__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    margin: 10px;
    width: 400px;
    height: 750px; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  justify-content: space-between; }

.main__wrapper {
  width: 100%;
  padding-top: 4rem;
  display: flex;
  flex-direction: column; }

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 364px;
  margin-top: 50px;
  background-color: #222b36; }
