$basic-color: rgb(101, 141, 210);
$brand-color: rgb(191, 164, 234);
$enterprise-color: rgb(161, 144, 211);
$text-color: rgb(68, 68, 68);

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #ccc;
}
*,
*:after,
*:before {
  box-sizing: inherit;
  text-decoration: none;
  font-family: sans-serif;
}
.main-title {
  font-size: 3rem;
  margin: 20px;
  font-weight: lighter;
  text-align: center;
  color: $text-color;
}
.main-container {
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.plan-card {
  border-radius: 5px;
  width: 32%;
  border-radius: 5px;
  background-color: #fff;
}
.plan-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.plan-header-title {
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
}
.basic-plan {
  background-color: $basic-color;
}
.brand-plan {
  background-color: $brand-color;
}
.enterprise-plan {
  background-color: $enterprise-color;
}
.plan-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.plan-info {
  display: flex;
  justify-content: center;
}
.price-title {
  color: rgb(68, 68, 68);
  font-weight: lighter;
  font-size: 30px;
  text-align: center;
}
.buy {
  display: flex;
  justify-content: center;
  width: 100%;
}
.buy-button {
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  color: #fff;
}
