.plan-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.plan-info {
  display: flex;
  justify-content: center;
}
.price-title {
  color: rgb(68, 68, 68);
  font-weight: lighter;
  font-size: 30px;
  text-align: center;
  margin-bottom: 0;
}
.annual-notification {
  font-weight: lighter;
  color: rgb(170, 170, 170);
  text-align: center;
  margin: 5px;
}
.price-block {
  display: flex;
  flex-direction: column;
}
.buy {
  display: flex;
  justify-content: center;
  width: 100%;
}
.buy-button {
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  color: #fff;
}
