body {
  margin: 0;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  text-decoration: none;
}
header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(34, 43, 54);
}
.header-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 60px;
}
.nav {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  width: 50%;
}
.nav-element {
  color: #fff;
  font-family: sans-serif;
}
.main-title {
  font-family: sans-serif;
  font-size: 3rem;
  margin: 70px;
  font-weight: lighter;
  text-align: center;
  color: rgb(68, 68, 68);
}
.main-container {
  margin: 0 auto;
  width: 70%;
}
.packages {
  display: flex;
  justify-content: space-between;
  width: 70%;
  float: right;
}
.pro-package,
.enterprise-package,
.custom-package {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgb(68, 68, 68);
  text-transform: uppercase;
  padding: 30px;
  width: 32%;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.pro-package {
  background-color: rgb(101, 141, 210);
}
.enterprise-package {
  background-color: rgb(191, 164, 234);
}
.custom-package {
  background-color: rgb(161, 144, 211);
}
