.header-button{
    height: 80%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    border-bottom: 2px solid $dark;
    transition: border-bottom 0.4s;
    &__wrapper{
        display:flex;
        justify-content:center;
        align-items: center;
        margin:0 20px;
    }
    &:hover{
       border-bottom: 2px solid $bright_blue;
    }
}