.card-props{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 80%;
    &__list{
        font-family: Roboto, Arial, Helvetica, sans-serif;
        color:$dark_grey;
        &__item{
            list-style-image: image(ltr );;
            padding-left: 0;
            margin:10px 0;
            padding-left: 20px;
	        list-style: none;
	        background-image: url("../../../images/check_mark.png");
	        background-repeat: no-repeat;
	        background-position: left center;
	        background-size: 10px;
        }
    }
}